/* Author: Krishna Chaitanya Potharaju */
h1{
  position: relative;
  top: 350px;
  left: 700px;
  color:black;

}
.header {
    margin: center;
    height: 10px;
    padding: 30px;
    width: 100px;
    text-align: left;
    background: black;
    color: white;
    font-size: 20px;
  }

img{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 2em;
    width: 2em;
}

img.guardian{
  position: top;
  top: 480px;
  left: 200px;
  height: 400px;
  width: 1550px;
}

.tag{
    position:top;
    font-size: 50px;
    top: 1500px;
    left: 2000px;
    color:rebeccapurple;
}
.SideHeading{
      position: relative;
      top: 170px;
      font-size: 30px;
      left: 25px;
      color: blue;
}

.sidenav {
    position: relative;
    height: 500px;
    width: 200px; 
    top: 140px;
    padding : 5px;
    border: transparent;
    color: black;
  }
  .sidenav a:hover {
    background-color: green;
    color: black;
  }

ul{
  list-style-type: square;
}

.content{
position: left;
padding-left: 300px;
top: 100px;
text-align: justify;
color: black;
font-size: 20px;
color: blue;  
}

footer{
  position: relative;
  text-align: center;
  top: 90px;
  font-size: 15px;
  color: black;
}